.DashBoard {
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  overflow: auto;
  background-image: url('./bg-dashboard.jpg');
  background-size: cover;
}

.Card {
  height: 200px;
  animation-name: fadeIn;
  animation-duration: 1s;;
}

.Box {
  background-color: #5492b7;

  &:hover {
    background-color: #1b4d6b;
    cursor: pointer;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 576px) {
  .DashBoard {
    padding-top: 120px !important;
  }
}