.sensor-info{
    padding-top:150px;
}
.list-sensor-info{
    margin:auto;
    padding:100px 20px;
    background-color: rgba(255, 255, 255, 0.7) !important;
    text-align:center;
}
.list-sensor-info h1{
    text-align:center;
    padding-bottom:60px;
}
.sensor-value-table{
    padding: 40px;
}
.list-sensor-info #turn-back{
    float:right;
}
.list-sensor-info .btn-sensor::after{
    content: "Xem chi tiết";
}
.value-list-table{
    padding-top:80px;
    width:60%;
    margin:auto;
}
@media only screen and (max-width:1024px){
    .sensor-info{
        width:90%;
        margin:auto;
    }
    .list-sensor-info{
        width:100%;
        padding:10px;
    }
    .list-sensor-info h1{
        font-size:20px;
    }
    .list-sensor-info table{
        font-size:15px;
    }
    .list-sensor-info button{
        font-size:15px;
    }
    .list-sensor-info h4{
        font-size:15px;
    }
}
@media only screen and (max-width:768px){
    .sensor-info{
        padding-top:100px;
    }
    .list-sensor-info{
        width:100%;
        padding: 5px;
    }
    .list-sensor-info h1{
        font-size:18px;
    }
    .list-sensor-info button{
        font-size:12px;
    }
    .list-sensor-info .btn-sensor::after{
        content:'Xem';
    }
}