.MotorInfo{
    padding-top:100px;
}
.ListMotorInfo{
    margin:auto;
    padding:20px 100px;
    background-color: rgba(255, 255, 255, 0.7) !important;
    text-align:center;
}
.RowSettingMargin{
    margin-top: 20px;
    margin-bottom: 20px;
}
.MotorStatusPaddingTop{
    padding-top: 20px;
}
.MotorControlHand{
    visibility: hidden;
    align-self: center;
    padding:10px;
    border: black 2px solid;
}
.MotorForm{
    // height: 40px;
    align-self: center;
    text-align: center;
    // margin-top: 20px;
    // margin-bottom: 20px;
    // margin-left: 20px;
    // margin-right: 200px;
}
.MotorInfo input{
    width: 100px; height: 40px;
    margin-right: auto;
    margin-left: auto;
}

.MotorStatusContainer{
    margin-top: 20px;
    padding:20px;
    background-color: rgb(246, 246, 246);
}

.MotorTitle{
    padding-bottom: 30px;
}

.MotorGroupContainer{
    position: relative;
    margin-top: 20px;
    padding:0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100%;
    max-height: 400px;
    margin-bottom: 20px;
}

.MotorSettingContainer{
    padding-left: 10px;
}
.ButtonPadding{
    padding-top: 10px;
}
