.MotorPage {
    padding-top:150px;
}
.MotorPage h1 {
    text-align:center;
    font-size:24px;
    padding-bottom:30px;
    padding-top:20px;
    font-weight:600;
}

.MotorList{
    width:60%;
    margin:auto;
}

.MotorLabel {
    padding-top:10px;  
    &:hover {
        background-color: rgb(188, 206, 182);
    }
}

.add-motor{
    width:40%;
    margin:auto;
    padding: 30px 0;
}

@media only screen and (max-width:768px){
    .MotorPage h1{
        font-size:18px;
    }
    .MotorList{
        width:90%;
        font-size:15px;
    }
    
}
