#list-info-history{
    padding-top: 100px;
    
}
.infohistory{
    width:100%;
    height:100%;
    padding:0% 10%;
    background-color: rgba(255, 255, 255, 0.7) !important;
}

.infohistory th{
    border: 1px solid black;
    padding:1%;
}
.infohistory td {
    border: 1px solid black;
    padding:1.5%;
}

.infohistory table{
    width:100%; 
    border: 3px solid black;
    text-align: center;
}

